streamlit~=1.43.1
selenium~=4.21.0
beautifulsoup4~=4.13.3
lxml~=5.2.1
html5lib~=1.1
python-dotenv~=1.0.1
pandas~=2.2.2
pillow~=11.3.0
easyocr~=1.7.1

# Optional/experimentell:
langchainlangchain_ollamaollama~=0.5.1
langchain-core~=0.3.65