/* === Hintergrund für ganze App über den Main-Container === */
.stApp {
    background: linear-gradient(135deg, lab(7.82% 34.53 -37.98) 20%, #000000 100%) !important;
}


/* === Überschriften (Headers) === */
h1 {
    color: #000000 !important;
    font-weight: 700;
}

h2 {
    color: #fcfafa !important;
    font-weight: 700;
}

h3 {
    color: #fcfafa !important;
    font-weight: 700;
}
.custom-header {
            background: linear-gradient(135deg, hwb(81 0% 0%) 20%, #e7f8ec 100%) !important;
            color: #000000;
            display: flex;
            justify-content: center;
            border: 1px solid lab(100% 0.01 -0.01); 
            border-radius: 12px 12px 12px 12px;
            box-shadow: 0 0px 10px hwb(0 100% 0%);
        }
        .custom-header .title {
            font-size: 1.6rem;
            font-weight: 600;
}

/* === Buttons Styling === */
button {
    background-color: #262730 !important;
    color: white !important;
    width: 160px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

/* Hover-Effekt für Buttons */
button:hover {
    background-color:  hwb(81 0% 0%)!important; 
}

/* === Custom Info-Box === */
.custom-info {
    background: linear-gradient(135deg, hwb(81 0% 0%) 20%, #e7f8ec 100%) !important;
    color: #020303;
    box-shadow:0 0px 10px hwb(0 100% 0%);       
    padding: 1rem;
    border: 1px solid lab(100% 0.01 -0.01); 
    border-radius: 12px;
}

/* === DateInput- Styling === */
.stDateInput label {
    color: #1a1a1a !important;
}
.stDateInput input {
    color: #fbf4f4 !important;
    text-align: center;
}

.stDateInput {
    cursor: pointer !important;
    width: 160px!important;
}

#log-container {
    height: 200px;
    width: 460px;
    overflow-y: scroll;
    border: 3px solid hwb(81 0% 0%); 
    border-radius: 12px;
    background: linear-gradient(135deg, hwb(81 0% 0%) 20%, #e7f8ec 100%) !important;
    box-shadow:0 0px 20px hwb(0 100% 0%);    
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
}

/* Platzhalter unsichtbar, minimal groß, am Ende */
#log-placeholder {
    height: 1px !important;
    width: 1px !important;
    opacity: 0 !important;
    position: relative;
    margin-top: 20px; /* Abstand zum Log-Fenster */
}
